<% @quizzes.each do |f| %>

<ul class="list-group">
  <li class="list-group-item"><%=f.titrequiz %></li>
  <img src="http://parlons-assurance-mutuelle.fr/wp-content/uploads/2012/10/retroviseur-brise.jpg" />
  <br>
  <button> <%= f.reponseoui %></button>
  <button> <%= f.reponsenon %></button>
  
  
  

 
  
  
  <% end %>
